.service-wrapper{
    float: left;
    min-height: 170px;
    min-width: 350px;
    max-height:170px;
}
.img {
    width: 45px;
   
}
#logo{
    width: 300px;
}

#time{
    color: #979797;
    font-size: 10px;
    float: right;
}
#comment_author{
    color: dodgerblue;
    background-color: #979797;
    padding-left: 30px;
    margin:10px ;
    font-size: 20px;
    padding-right: 90px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 100px;
    text-align: center;


    height: 40px;
}
.comm-parent{
    margin-left: 40px;
}

#comment_text{
    margin-top: 5px;
    background: #fc0; /* Цвет фона */
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

@media only screen and (min-width:241px) and (max-width:480px) { 
 .service-wrapper{
    max-width: 150px;
}
#poisc{
    width:200px;
}



.btn{
    text-align:center;
    margin-left: 10px;
}
}



@media only screen and (min-width:480px) and (max-width:780px) { 
 
#poisc{
    width:300px;
}
 .service-wrapper{
   margin-left: 80px;
}




}
